openapi: 3.0.1
info:
  title: ZapMe
  description: Open source application to control things
  termsOfService: https://zapme.app/tos
  contact:
    name: Contact me
    url: https://zapme.app/contact
  license:
    name: 'The Apache License, Version 2.0'
    url: https://zapme.app/license
  version: v1
servers:
  - url: https://api.zapme.app
paths:
  /api/v1/account:
    post:
      tags:
        - Account
      summary: Create a new account
      operationId: CreateAccount
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/CreateAccount'
              description: Message sent to server to create a new account
      responses:
        '201':
          description: Created account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOk'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
    delete:
      tags:
        - Account
      summary: Delete currently logged in account
      operationId: DeleteAccount
      parameters:
        - name: password
          in: header
          schema:
            maxLength: 256
            minLength: 10
            type: string
            example: Hq2yP1B^Fho&zRHxHkEu
        - name: reason
          in: header
          schema:
            maxLength: 1024
            minLength: 0
            type: string
      responses:
        '200':
          description: Empty
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
    get:
      tags:
        - Account
      summary: ''
      operationId: GetAccount
      responses:
        '200':
          description: Account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountDto'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
  /api/v1/account/sso:
    post:
      tags:
        - Account
      summary: Add a sso connection to account
      operationId: Connect SSO Provider
      parameters:
        - name: ssoToken
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Success
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
    delete:
      tags:
        - Account
      summary: Remove a sso connection from account
      operationId: Disconnect SSO Provider
      parameters:
        - name: providerName
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Success
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
  /api/v1/account/recover-confirm:
    post:
      tags:
        - Account
      summary: Complete the password reset request using the token that was received in the users email
      operationId: AccountRecoveryConfirm
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/RecoveryConfirm'
              description: Request sent to server to commit a password reset
      responses:
        '200':
          description: Ok
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
  /api/v1/account/recover:
    post:
      tags:
        - Account
      summary: 'Request password recovery of a account, a recovery email will be sent to the user that makes a call to the /recovery-confirm endpoint'
      operationId: AccountRecoveryRequest
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/RecoveryRequest'
              description: Request sent to server to request a password reset token
      responses:
        '200':
          description: Ok
  /api/v1/account/email:
    put:
      tags:
        - Account
      summary: Updates the account email
      operationId: UpdateEmail
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/UpdateEmail'
              description: Request sent to server to update account email address
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateEmailOk'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
  /api/v1/account/password:
    put:
      tags:
        - Account
      summary: Updates the account password
      operationId: UpdatePassword
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/UpdatePassword'
              description: Request sent to server to update account password
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
  /api/v1/account/pfp:
    put:
      tags:
        - Account
      summary: Updates the account profile picture
      operationId: UpdateProfilePicture
      parameters:
        - name: Hash-Sha256
          in: header
          description: '[Optional] Sha-256 hash of the image bytes to verify the integrity of the image server-side'
          schema:
            type: string
      requestBody:
        content:
          image/png:
            schema:
              type: string
              description: payload
              format: binary
          image/jpeg:
            schema:
              type: string
              description: payload
              format: binary
          image/webp:
            schema:
              type: string
              description: payload
              format: binary
          image/gif:
            schema:
              type: string
              description: payload
              format: binary
        required: true
      responses:
        '201':
          description: Info about uploaded image
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateProfilePictureOk'
        '400':
          description: Payload is unsupported/corrupted or the hash (if provided) does not match the payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        '411':
          description: Length is required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        '413':
          description: Image dimensions or byte size is too large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
  /api/v1/account/username:
    put:
      tags:
        - Account
      summary: Updates the account username
      operationId: UpdateUserName
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/UpdateUserName'
              description: Request sent to server to update account username
      responses:
        '200':
          description: Ok
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
  /api/v1/account/email/verify:
    post:
      tags:
        - Account
      summary: Verify the users email address
      operationId: Verify Email Address
      parameters:
        - name: token
          in: query
          description: ''
          schema:
            type: string
      responses:
        '200':
          description: Ok
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
  /api/v1/auth/signin:
    post:
      tags:
        - Auth
      summary: ''
      operationId: AuthSignIn
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/AuthSignIn'
              description: Message sent to server to authenticate user using username and password
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
        '413':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
  /api/v1/auth/signout:
    post:
      tags:
        - Auth
      summary: ''
      operationId: AuthSignOut
      responses:
        '200':
          description: Ok
  /api/v1/config:
    get:
      tags:
        - Config
      summary: ''
      operationId: GetConfig
      responses:
        '200':
          description: Returns the service config
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Config'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
  /api/v1/health:
    get:
      tags:
        - Health
      summary: ''
      operationId: GetHealth
      responses:
        '200':
          description: Health status
  '/api/v1/sso/{providerName}':
    get:
      tags:
        - Single Sign-On
      summary: "Warning:\r\nThis endpoint is not meant to be called by a 3rd party, it will redirect the request for OAuth authentication with the specified provider.\r\nIt is documented here for transparency, and to automatically generate the OpenAPI client for the frontend."
      operationId: SSO Authenticate
      parameters:
        - name: providerName
          in: path
          description: 'Name of the SSO provider to use, supported providers can be fetched from /api/v1/sso/providers'
          required: true
          schema:
            type: string
      responses:
        '302':
          description: Redirect
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
  '/api/v1/sso/{providerName}/callback':
    post:
      tags:
        - Single Sign-On
      summary: "Warning:\r\nThis endpoint is not meant to be called by a 3rd party, it will redirect the request for OAuth authentication with the specified provider.\r\nIt is documented here for transparency, and to automatically generate the OpenAPI client for the frontend."
      operationId: SSO Callback
      parameters:
        - name: providerName
          in: path
          description: 'Name of the SSO provider to use, supported providers can be fetched from /api/v1/sso/providers'
          required: true
          schema:
            type: string
      responses:
        '302':
          description: Redirect
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
  /api/v1/sso/providerdata:
    get:
      tags:
        - Single Sign-On
      summary: Returns the data supplied by the SSO provider
      operationId: SSO Get Provider Data
      parameters:
        - name: ssoToken
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderDataDto'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
  /api/v1/sso/providers:
    get:
      tags:
        - Single Sign-On
      summary: Returns a list of supported SSO providers
      operationId: SSO List Providers
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
  '/api/v1/user/i/{userId}/friendrequest':
    put:
      tags:
        - User
      summary: Accept incoming friend request
      operationId: AcceptFriendRequest
      parameters:
        - name: userId
          in: path
          description: ''
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDto'
        '304':
          description: Not Modified
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
    delete:
      tags:
        - User
      summary: Delete outgoing/Reject incoming friend request
      operationId: DenyFriendRequest
      parameters:
        - name: userId
          in: path
          description: ''
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDto'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
    post:
      tags:
        - User
      summary: Send friend request
      operationId: SendFriendRequest
      parameters:
        - name: userId
          in: path
          description: ''
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Success
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
  /api/v1/user/friendrequests:
    get:
      tags:
        - User
      summary: List all incoming and outgoing friend requests
      operationId: ListFriendRequests
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FriendRequestList'
  '/api/v1/user/i/{userId}':
    get:
      tags:
        - User
      summary: Get user
      operationId: GetUser
      parameters:
        - name: userId
          in: path
          description: ''
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDto'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
  '/api/v1/user/u/{userName}':
    get:
      tags:
        - User
      summary: Look up user by name
      operationId: LookUpUser
      parameters:
        - name: userName
          in: path
          description: ''
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDto'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
  /api/v1/user/report:
    post:
      tags:
        - User
      summary: Report a user
      operationId: ReportUser
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/UserReport'
              description: Message sent to server to report a user
      responses:
        '200':
          description: Success
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
components:
  schemas:
    AccountDto:
      required:
        - acceptedPrivacyPolicyVersion
        - acceptedTermsOfServiceVersion
        - createdAt
        - emailVerified
        - friends
        - id
        - lastOnline
        - obscuredEmail
        - profilePictureUrl
        - ssoConnections
        - status
        - statusText
        - updatedAt
        - username
      type: object
      properties:
        id:
          type: string
          description: ''
          format: uuid
        username:
          type: string
          description: ''
          example: MyUsername
        obscuredEmail:
          type: string
          description: Obfuscated email of your account
        emailVerified:
          type: boolean
          description: ''
        acceptedPrivacyPolicyVersion:
          type: integer
          description: ''
          format: int32
        acceptedTermsOfServiceVersion:
          type: integer
          description: ''
          format: int32
        profilePictureUrl:
          type: string
          description: ''
          format: uri
        status:
          allOf:
            - $ref: '#/components/schemas/UserStatus'
          description: ''
        statusText:
          type: string
          description: ''
        friends:
          type: array
          items:
            type: string
            format: uuid
          description: Id of friends this account has
        ssoConnections:
          type: array
          items:
            type: string
          description: SSO providers this account is connected to
        createdAt:
          type: string
          description: Date this user was created at
          format: date-time
        updatedAt:
          type: string
          description: Last time this user was updated
          format: date-time
        lastOnline:
          type: string
          description: Last time this user was online
          format: date-time
      additionalProperties: false
      description: 'Account object, this can only retrieved for the user you are logged in as'
    ApiConfig:
      required:
        - disabledFeatures
        - privacyVersion
        - tosVersion
      type: object
      properties:
        tosVersion:
          type: integer
          description: 'The current Terms of Service version, if the user has not accepted this version, they will be prompted to accept it'
          format: int32
        privacyVersion:
          type: integer
          description: 'The current Privacy Policy version, if the user has not accepted this version, they will be prompted to accept it'
          format: int32
        disabledFeatures:
          allOf:
            - $ref: '#/components/schemas/ApiDisabledFeatures'
      additionalProperties: false
    ApiDisabledFeatures:
      required:
        - endpoints
        - grpc
        - webRTC
      type: object
      properties:
        webRTC:
          type: boolean
          description: 'If true, WebRTC is disabled'
        grpc:
          type: boolean
          description: 'If true, gRPC is disabled'
        endpoints:
          type: array
          items:
            type: string
          description: 'List of disabled endpoints, if an endpoint is in this list, it will return a "503 Service Unavailable"'
      additionalProperties: false
    AuthSignIn:
      required:
        - password
        - rememberMe
        - usernameOrEmail
      type: object
      properties:
        usernameOrEmail:
          type: string
          description: Username or email address
          example: MyUsername
        password:
          type: string
          description: Password
          example: Hq2yP1B^Fho&zRHxHkEu
        rememberMe:
          type: boolean
          description: Make this login persist for a longer period of time
      additionalProperties: false
      description: Message sent to server to authenticate user using username and password
    Config:
      required:
        - api
        - appName
        - appVersion
        - contact
        - founderSocials
      type: object
      properties:
        appName:
          type: string
          description: 'Name of the product, e.g. "ZapMe"'
        appVersion:
          type: string
          description: 'Version of the product, e.g. "1.0.0"'
        api:
          allOf:
            - $ref: '#/components/schemas/ApiConfig'
          description: 'Api configuration, e.g. version, etc.'
        contact:
          allOf:
            - $ref: '#/components/schemas/ContactConfig'
          description: 'Contact information for ZapMe, e.g. email address, discord server, etc.'
        founderSocials:
          allOf:
            - $ref: '#/components/schemas/SocialsConfig'
          description: The social media accounts of the founder of ZapMe
      additionalProperties: false
    ContactConfig:
      required:
        - discordInviteUrl
        - emailContact
        - emailSupport
      type: object
      properties:
        emailSupport:
          type: string
          description: Email address to contact the support of the service
        emailContact:
          type: string
          description: Email address to contact the owner of the service
        discordInviteUrl:
          type: string
          description: Invite URL to the Discord server where users can get support
          format: uri
      additionalProperties: false
    CreateAccount:
      required:
        - acceptedPrivacyPolicyVersion
        - acceptedTermsOfServiceVersion
        - email
        - password
        - turnstileResponse
        - username
      type: object
      properties:
        username:
          maxLength: 32
          minLength: 3
          pattern: '^[^\s].*[^\s]$'
          type: string
          description: ''
          example: MyUsername
        password:
          maxLength: 256
          minLength: 10
          type: string
          description: ''
          example: Hq2yP1B^Fho&zRHxHkEu
        email:
          type: string
          description: ''
        acceptedPrivacyPolicyVersion:
          type: integer
          description: ''
          format: int32
        acceptedTermsOfServiceVersion:
          type: integer
          description: ''
          format: int32
        turnstileResponse:
          type: string
          description: Response from cloudflare turnstile request
        ssoToken:
          type: string
          description: 'SSO token from OAuth flow, this is optional and only used when creating an account from the OAuth flow'
          nullable: true
      additionalProperties: false
      description: Message sent to server to create a new account
    CreateOk:
      required:
        - accountId
        - emailVerificationRequired
      type: object
      properties:
        accountId:
          type: string
          description: The account id of the newly created account
          format: uuid
        session:
          allOf:
            - $ref: '#/components/schemas/SessionDto'
          description: 'If the account was created using OAuth and in a way that ensures the email address is valid, a session will be created and returned here'
          nullable: true
        emailVerificationRequired:
          type: boolean
          description: If true then the email is already verified by 3rd party
      additionalProperties: false
    ErrorDetails:
      required:
        - code
        - detail
      type: object
      properties:
        code:
          type: string
          description: 'Error code, this is a short string that can be used to identify the error (meant for developers)'
        detail:
          type: string
          description: Detailed description of what this error is about (meant for developers)
        suggestion:
          type: string
          description: Suggestion on how to midegate this error (meant for developers)
          nullable: true
        fields:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
            nullable: true
          description: Errors for specific fields in the request
          nullable: true
        notification:
          allOf:
            - $ref: '#/components/schemas/UserNotification'
          description: "This is a user friendly error message, might help the user understand what went wrong and how to fix it\r\nCompletely optional, might be null"
          nullable: true
      additionalProperties: false
      description: Details about the error
    FriendRequestList:
      required:
        - incoming
        - outgoing
      type: object
      properties:
        incoming:
          type: array
          items:
            type: string
            format: uuid
          description: UserId's of users that has sent friend requests to this user
        outgoing:
          type: array
          items:
            type: string
            format: uuid
          description: UserId's of users that this user has sent friend requests to
      additionalProperties: false
      description: List of incoming and outgoing friendrequests
    NotificationSeverityLevel:
      enum:
        - info
        - warning
        - error
      type: string
    ProviderDataDto:
      required:
        - email
        - emailVerified
        - expiresAtUtc
        - providerName
        - userName
      type: object
      properties:
        providerName:
          type: string
        userName:
          type: string
        email:
          type: string
        emailVerified:
          type: boolean
        expiresAtUtc:
          type: string
          format: date-time
      additionalProperties: false
    RecoveryConfirm:
      required:
        - newPassword
        - token
      type: object
      properties:
        newPassword:
          maxLength: 256
          minLength: 10
          type: string
          description: The new password to set
          example: Hq2yP1B^Fho&zRHxHkEu
        token:
          type: string
          description: The token sent to the user's email address
      additionalProperties: false
      description: Request sent to server to commit a password reset
    RecoveryRequest:
      required:
        - email
        - turnstileResponse
      type: object
      properties:
        email:
          type: string
          description: Email of your account you want to recover
        turnstileResponse:
          type: string
          description: Response from cloudflare turnstile request
      additionalProperties: false
      description: Request sent to server to request a password reset token
    SessionDto:
      required:
        - expiresAtUtc
        - issuedAtUtc
        - sessionToken
      type: object
      properties:
        sessionToken:
          type: string
          description: ''
          format: uuid
        issuedAtUtc:
          type: string
          description: ''
          format: date-time
        expiresAtUtc:
          type: string
          description: ''
          format: date-time
      additionalProperties: false
    SocialsConfig:
      type: object
      properties:
        githubUri:
          type: string
          description: Uri pointing to a github account
          format: uri
          nullable: true
        twitterUri:
          type: string
          description: Uri pointing to a twitter account
          format: uri
          nullable: true
        redditUri:
          type: string
          description: Uri pointing to a reddit account
          format: uri
          nullable: true
        websiteUri:
          type: string
          description: Uri pointing to a personal website
          format: uri
          nullable: true
        discordUsername:
          type: string
          description: 'Discord username, e.g. "username#1234"'
          nullable: true
      additionalProperties: false
    UpdateEmail:
      required:
        - newEmail
        - password
      type: object
      properties:
        newEmail:
          type: string
          description: ''
        password:
          type: string
          description: ''
          example: Hq2yP1B^Fho&zRHxHkEu
      additionalProperties: false
      description: Request sent to server to update account email address
    UpdateEmailOk:
      required:
        - message
      type: object
      properties:
        message:
          type: string
          description: 'Example: "Please check your email to verify your new address."'
      additionalProperties: false
      description: Request sent to server to update account email address
    UpdatePassword:
      required:
        - password_current
        - password_new
      type: object
      properties:
        password_new:
          maxLength: 256
          minLength: 10
          type: string
          description: ''
          example: Hq2yP1B^Fho&zRHxHkEu
        password_current:
          type: string
          description: ''
          example: Hq2yP1B^Fho&zRHxHkEu
      additionalProperties: false
      description: Request sent to server to update account password
    UpdateProfilePictureOk:
      required:
        - imageHash
        - imageId
        - imageUrl
      type: object
      properties:
        imageId:
          type: string
          description: ''
          format: uuid
        imageUrl:
          type: string
          description: ''
          format: uri
        imageHash:
          type: string
          description: ''
      additionalProperties: false
    UpdateUserName:
      required:
        - newUsername
        - password
      type: object
      properties:
        newUsername:
          maxLength: 32
          minLength: 3
          pattern: '^[^\s].*[^\s]$'
          type: string
          description: ''
          example: MyUsername
        password:
          type: string
          description: ''
          example: Hq2yP1B^Fho&zRHxHkEu
      additionalProperties: false
      description: Request sent to server to update account username
    UserDto:
      required:
        - createdAt
        - id
        - lastSeenAt
        - status
        - statusText
        - username
      type: object
      properties:
        id:
          type: string
          description: ''
          format: uuid
        username:
          type: string
          description: ''
          example: MyUsername
        profilePictureId:
          type: string
          description: ''
          format: uuid
          nullable: true
        status:
          allOf:
            - $ref: '#/components/schemas/UserStatus'
          description: ''
        statusText:
          type: string
          description: ''
        createdAt:
          type: string
          description: Date this user was created at
          format: date-time
        lastSeenAt:
          type: string
          description: Last time this user was seen online
          format: date-time
      additionalProperties: false
    UserNotification:
      required:
        - content
        - severity
      type: object
      properties:
        severity:
          allOf:
            - $ref: '#/components/schemas/NotificationSeverityLevel'
          description: 'Severity of the notification, might be used in clients to determine how to display the notification'
        content:
          type: string
          description: 'Content of the notification, might be HTML'
      additionalProperties: false
      description: "System notification to be displayed to the user, do not confuse with user notifications\r\nThis is a hint and clients can choose to ignore it or implement notifications to be independent of this"
    UserReport:
      required:
        - explenation
        - title
        - userId
      type: object
      properties:
        userId:
          type: string
          format: uuid
        title:
          type: string
          description: ''
        explenation:
          type: string
          description: ''
      additionalProperties: false
      description: Message sent to server to report a user
    UserStatus:
      enum:
        - offline
        - doNotDisturb
        - inactive
        - online
        - downBad
      type: string
  securitySchemes:
    Bearer:
      type: apiKey
      description: "JWT Authorization header using the Bearer scheme.\r\n\r\n\r\n                      Enter 'Bearer' [space] and then your token in the text input below.\r\n                      \r\n\r\n                        Example: 'Bearer 12345abcdef'"
      name: Authorization
      in: header
security:
  - Bearer: [ ]