<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <DeleteExistingFiles>true</DeleteExistingFiles>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>x64</LastUsedPlatform>
    <PublishProvider>FileSystem</PublishProvider>
    <PublishUrl>../build/grpc</PublishUrl>
    <PublishDir>../build/grpc</PublishDir>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <TargetFramework>net7.0</TargetFramework>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishSingleFile>true</PublishSingleFile>
    <PublishReadyToRun>true</PublishReadyToRun>
    <SelfContained>true</SelfContained>
    <SiteUrlToLaunchAfterPublish />
    <PublishTrimmed>true</PublishTrimmed>
    <ProjectGuid>bab68385-a8af-424e-a2fb-3f58ff7a940b</ProjectGuid>
  </PropertyGroup>
</Project>